/vendor
/node_modules
/.env
/.env.*
!/.env.example
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*.php
composer.lock
Homestead.json
Homestead.yaml
.phpunit.result.cache
